   
      <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
              <div class="panel-heading">               
                <strong >Login</strong>
              </div>
              <div class="panel-body">
                  <form class="form-horizontal" role="form">
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-3 control-label">
                          Email</label>
                      <div class="col-sm-9">
                          <input type="email" class="form-control" [(ngModel)]="user.name"  name= "name" id="inputEmail3" placeholder="Email" required="">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputPassword3" class="col-sm-3 control-label">
                          Password</label>
                      <div class="col-sm-9">
                          <input type="password" class="form-control" [(ngModel)]= "user.password"  name = "password" id="inputPassword3" placeholder="Password" required="">
                          <br>
                          <a  (click)='forgotpassword()'>Forgot password</a>
                      </div>
                  </div> 
                                  
                  
                  <div class="form-group last">
                      <div class="col-sm-offset-3 col-sm-9">                          
                          <button  type="submit" class="btn btn-success btn-sm" (click)='loginUser()'>
                              Sign in</button>
                          <button type="reset" class="btn btn-default btn-sm" >
                              Reset</button>
                      </div>
                  </div>
                  </form>
              </div>              
              <div  class="panel-footer">
                  Not Registered? <a  (click)='navigateregister()'>Register here</a></div>
          </div>
        </div>
     
  {{user|json}}
  {{message|json}}